module.exports = {
  promoter: "  除非你已阅读并接受本协议所有条款，否则你无权使用微信公众平台服务。你对本服务的登录、查看、发布信息等行为即视为你已阅读并同意本协议的约束。如果你未满18周岁，请在法定监护人的陪同下阅读本协议及其他上述协议，并特别注意未成年人使用条款。\n  一、【协议的范围】\n  1.1 本协议是你与腾讯之间关于你使用微信公众平台服务所订立的协议。“腾讯”是指腾讯公司及其相关服务可能存在的运营关联单位。“用户”是指注册、登录、使用微信公众帐号的个人或组织，在本协议中更多地称为“你”。“其他用户”是指包括其他微信公众帐号用户和微信用户等除用户本人外与微信公众平台服务相关的用户。" ,
  channel: "你对本服务的登录、查看、发布信息等",
  partner: "
所谓的合伙人有两种，一种是法律意义上的，即合伙人企业中的合伙人。
包括有限合伙人和普通合伙两种类型，普通合伙人承担无限连带责任，有限合伙人以所投入的财产份额承担有限连带责任。另一种是企业管理意义上的，我们称之为事业合伙人。事业合伙人是企业为适应知识经济时代的发展要求，真正激发知识资本的创造力而设计的一种内部制度安排。事业合伙人不同于法律意义上的合伙人，但在实际操作中，二者往往兼顾。  我们认为，事业合伙人是高度认同组织价值观，承诺并力行组织目标与原则的人的群体。事业合伙人机制，就是建立、甄选、管理、激励事业合伙人的全生命周期的管理机制。
  事业合伙人实质上是在企业中建立起企业家的群体。打个不太恰当的比方，如同在公司里建立起一支类似党的组织。这群人抱有共同的理念，共同的价值观，有共同的追求，为了一个共同的目标而奋斗终身。建立这样一支队伍，分配环节自然要共同参与分配，这就叫事业合伙人机制。  很多人搞不清事业合伙人机制与股权激励机制两者的区别。其实区别很简单，股权激励是用股权实现对人的有效激励的管理办法，事业合伙人机制则是对一个特定群体实现有效化的全生命周期的管理机制。换言之，事业合伙人机制一定包括股权激励，但是股权激励则不一定只针对事业合伙人。"
}
